<app-header></app-header>

<div class="home-container">
    <!-- Hero Section -->
    <section class="hero">
      <div class="hero-content">
        <h1 class="hero-title">Discover Extraordinary Events</h1>
        <p class="hero-subtitle">Your gateway to unforgettable experiences</p>
        <a href="#featured-events" class="cta-button" routerLink="/events">Explore Events</a>
      </div>
      <div class="hero-overlay"></div>
    </section>
 
    <!-- Call-to-Action Section -->
    <section class="cta-section">
      <h2 class="cta-title">Ready to Create Memories?</h2>
      <p class="cta-text">Join us for amazing events and unforgettable experiences.</p>
      <a href="#" class="cta-button" routerLink="/contact">Contacts Us
    
      </a>
    </section>

  </div>
