<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/user/dashboard">
      <span class="brand-text"><img src="https://i.ibb.co/hZY13qM/Capture-d-cran-2024-08-03-231858-removebg-preview.png" width="60px" height="60px"></span>
      <span class="brand-icon"><i class="fas fa-star-of-life"></i></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/book">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contacts</a>
        </li>
      </ul>
      <div *ngIf="username">
        <h1>hiiii,{{username}}!</h1>
      </div>
      <form class="d-flex search-form" role="search">
        <input class="form-control search-input" type="search" placeholder="Search events..." aria-label="Search">
        <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <a>
        <app-logout></app-logout>
      </a>
    </div>
  </div>
</nav>
